html,
body {
    background-color: rgb(85, 107, 47);
    color: rgb(238,232,170);
    font-style: italic;
    }

    .letra {
        width: 20%;
        height: 20%;
        margin: 1em 0.5em 0.5em 0.5em;
        display: inline-block;
    }

    .texto_letra {
        width: 25%;
        height: 2em;
        border-radius: 20px;
        text-align: center;
    }

    .tem {
        background-color: rgb(214, 229, 57) !important;
    }

    .certo {
        background-color: rgb(134, 206, 134) !important;
    }

    .errado {
        background-color: rgb(255, 0, 0) !important;
    }

    .não_classificada {
        background-color: rgb(76, 0, 255);
    }

